{% extends 'base.html' %}
{% block content %}

{% if api %}
    {% if api == Error%}
        There is an error, please try again!
    {% else %}
        <div class="jumbotron {{ category_color }}">
            <div class="container">
                <br/>
                 <h1 class="display-4">{{ api.0.Category.Name }}</h1>
                        <p class="lead">Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>
                    {% if api.0.Category.Name == "Good" %}
                        <p>(0-50) Air quality is satisfactory, and air pollution poses little or no risk.</p>
                    {% elif api.0.Category.Name == "Moderate" %}
                        <p>(51-100) Air quality is acceptable. However, there may be a risk for some people, particularly those who are unusually sensitive to air pollution.</p>
                    {% elif api.0.Category.Name == "Unhealthy for Sensitive Groups" %}
                        <p>(101-150) Members of sensitive groups may experience health effects. The general public is less likely to be affected.</p>
                    {% elif api.0.Category.Name == "Unhealthy" %}
                        <p>(151-200) Some members of the general public may experience health effects; members of sensitive groups may experience more serious health effects.</p>
                    {% elif api.0.Category.Name == "Very Unhealthy" %}
                        <p>(201-300) Health alert: The risk of health effects is increased for everyone.</p>
                    {% else %}
                        <p>(301 or more) Health warning of emergency conditions: everyone is more likely to be affected.</p>
                    {% endif %}
                <br/>
            </div>


        </div>
    {% endif %}
{% endif %}

{% endblock %}
    