{% extends 'base.html' %}
{% block content %}

{% if zipcode %}
    {{ zipcode}}
{% endif %}

{% if api %}
    {% if api == Error%}
        There is an error, please try again!
    {% else %}
        <div class="jumbotron {{ category_color }}">
            <div class="container">
                <br/>
                 <h1 class="display-4">{{ api.0.Category.Name }}</h1>
                        <p class="lead">Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>
                <p> {{ category_description }} </p>
                <br/>
            </div>


        </div>
    {% endif %}
{% endif %}

{% endblock %}
    